.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    // pointer-events: all;
}
.nav__list{
    @media(max-width:1200px){
        display: none;
    }
}
.nav__menu-list{
    display: flex;
    align-items: center;
    column-gap: 64px;

}
